<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-fournisseur-heading" jhiTranslate="wfahm4App.fournisseur.home.createOrEditLabel">Create or edit a Fournisseur</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wfahm4App.fournisseur.libelle" for="field_libelle">Libelle</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wfahm4App.fournisseur.demandePourFournisseurMagasin" for="field_demandePourFournisseurMagasin">Demande Pour Fournisseur Magasin</label>
                    <select class="form-control" id="field_demandePourFournisseurMagasin" name="demandePourFournisseurMagasin" formControlName="demandePourFournisseurMagasin">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="demandeOption.id === editForm.get('demandePourFournisseurMagasin')!.value?.id ? editForm.get('demandePourFournisseurMagasin')!.value : demandeOption" *ngFor="let demandeOption of demandes; trackBy: trackById">{{ demandeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="wfahm4App.fournisseur.demandePourFournisseurFinal" for="field_demandePourFournisseurFinal">Demande Pour Fournisseur Final</label>
                    <select class="form-control" id="field_demandePourFournisseurFinal" name="demandePourFournisseurFinal" formControlName="demandePourFournisseurFinal">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="demandeOption.id === editForm.get('demandePourFournisseurFinal')!.value?.id ? editForm.get('demandePourFournisseurFinal')!.value : demandeOption" *ngFor="let demandeOption of demandes; trackBy: trackById">{{ demandeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
