<div>
    <h2 id="page-heading">
        <span jhiTranslate="wfahm4App.magasin.home.title">Magasins</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-magasin" [routerLink]="['/magasin/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wfahm4App.magasin.home.createLabel">
            Create a new Magasin
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="magasins?.length === 0">
        <span jhiTranslate="wfahm4App.magasin.home.notFound">No magasins found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="magasins && magasins.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.magasin.code">Code</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.magasin.libelle">Libelle</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.magasin.rtr">Rtr</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.magasin.magasinUtilisateurs">Magasin Utilisateurs</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.magasin.demandes">Demandes</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let magasin of magasins ;trackBy: trackId">
                    <td><a [routerLink]="['/magasin', magasin.id, 'view']">{{ magasin.id }}</a></td>
                    <td>{{ magasin.code }}</td>
                    <td>{{ magasin.libelle }}</td>
                    <td>{{ magasin.rtr }}</td>
                    <td>
                        <div *ngIf="magasin.magasinUtilisateurs">
                            <a [routerLink]="['/magasin-utilisateur', magasin.magasinUtilisateurs?.id, 'view']" >{{ magasin.magasinUtilisateurs?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="magasin.demandes">
                            <a [routerLink]="['/demande', magasin.demandes?.id, 'view']" >{{ magasin.demandes?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/magasin', magasin.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/magasin', magasin.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(magasin)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
