<div>
    <h2 id="page-heading">
        <span jhiTranslate="wfahm4App.pieceJoindre.home.title">Piece Joindres</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-piece-joindre" [routerLink]="['/piece-joindre/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wfahm4App.pieceJoindre.home.createLabel">
            Create a new Piece Joindre
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pieceJoindres?.length === 0">
        <span jhiTranslate="wfahm4App.pieceJoindre.home.notFound">No pieceJoindres found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pieceJoindres && pieceJoindres.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.pieceJoindre.nordre">Nordre</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.pieceJoindre.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.pieceJoindre.url">Url</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.pieceJoindre.demande">Demande</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pieceJoindre of pieceJoindres ;trackBy: trackId">
                    <td><a [routerLink]="['/piece-joindre', pieceJoindre.id, 'view']">{{ pieceJoindre.id }}</a></td>
                    <td>{{ pieceJoindre.nordre }}</td>
                    <td>{{ pieceJoindre.name }}</td>
                    <td>{{ pieceJoindre.url }}</td>
                    <td>
                        <div *ngIf="pieceJoindre.demande">
                            <a [routerLink]="['/demande', pieceJoindre.demande?.id, 'view']" >{{ pieceJoindre.demande?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/piece-joindre', pieceJoindre.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/piece-joindre', pieceJoindre.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pieceJoindre)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
