<div>
    <h2 id="page-heading">
        <span jhiTranslate="wfahm4App.demande.home.title">Demandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-demande" [routerLink]="['/demande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="wfahm4App.demande.home.createLabel">
            Create a new Demande
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="demandes?.length === 0">
        <span jhiTranslate="wfahm4App.demande.home.notFound">No demandes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="demandes && demandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.numero">Numero</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.rtr">Rtr</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.rtrLibelle">Rtr Libelle</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.objet">Objet</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.dateBesion">Date Besion</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.dateCreation">Date Creation</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.createur">Createur</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.budget">Budget</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.affectationLibelle">Affectation Libelle</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.dateAffictation">Date Affictation</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.moreInformation">More Information</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.etat">Etat</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.messageValidation">Message Validation</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.messageClouture">Message Clouture</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.dateClouture">Date Clouture</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.meilleurPrixMagasin">Meilleur Prix Magasin</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.prixNegocie">Prix Negocie</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.demandeInfos">Demande Infos</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.pieceJoindres">Piece Joindres</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.magasin">Magasin</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.fournisseurMagasin">Fournisseur Magasin</span></th>
                    <th scope="col" ><span jhiTranslate="wfahm4App.demande.fournisseurFinal">Fournisseur Final</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let demande of demandes ;trackBy: trackId">
                    <td><a [routerLink]="['/demande', demande.id, 'view']">{{ demande.id }}</a></td>
                    <td>{{ demande.numero }}</td>
                    <td>{{ demande.rtr }}</td>
                    <td>{{ demande.rtrLibelle }}</td>
                    <td>{{ demande.objet }}</td>
                    <td>{{ demande.description }}</td>
                    <td>{{ demande.dateBesion | date:'mediumDate' }}</td>
                    <td>{{ demande.dateCreation | date:'mediumDate' }}</td>
                    <td>{{ demande.createur }}</td>
                    <td>{{ demande.budget }}</td>
                    <td>{{ demande.affectationLibelle }}</td>
                    <td>{{ demande.dateAffictation | date:'mediumDate' }}</td>
                    <td>{{ demande.moreInformation }}</td>
                    <td>{{ demande.etat }}</td>
                    <td>{{ demande.messageValidation }}</td>
                    <td>{{ demande.messageClouture }}</td>
                    <td>{{ demande.dateClouture | date:'mediumDate' }}</td>
                    <td>{{ demande.meilleurPrixMagasin }}</td>
                    <td>{{ demande.prixNegocie }}</td>
                    <td>
                        <div *ngIf="demande.demandeInfos">
                            <a [routerLink]="['/demande-info', demande.demandeInfos?.id, 'view']" >{{ demande.demandeInfos?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demande.pieceJoindres">
                            <a [routerLink]="['/piece-joindre', demande.pieceJoindres?.id, 'view']" >{{ demande.pieceJoindres?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demande.magasin">
                            <a [routerLink]="['/magasin', demande.magasin?.id, 'view']" >{{ demande.magasin?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demande.fournisseurMagasin">
                            <a [routerLink]="['/fournisseur', demande.fournisseurMagasin?.id, 'view']" >{{ demande.fournisseurMagasin?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="demande.fournisseurFinal">
                            <a [routerLink]="['/fournisseur', demande.fournisseurFinal?.id, 'view']" >{{ demande.fournisseurFinal?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/demande', demande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/demande', demande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(demande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
